* {
    color: black;
    font-family: "Times New Roman", Times, serif;
}
.text1 {
    color: white;
    background-color: rgb(69, 16, 16);
    text-align: center;
    margin: 8px;
    border: 3px solid black;
}
.link1,
.link2,
.link3 {
    color: rgb(214, 110, 214);
    background-color: rgb(110, 244, 128);
    font-size: larger;
    border: 2px dotted black;
    margin: 8px;
    padding: 8px;
    display: block;
}